.container {
   max-width: 1024px;
   min-width: 90%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
h1 {
   font-size: 36px;
   font-weight: 500;
   margin: 70px 0;
   text-align: center;
   color: rgb(231, 197, 0);
}
input {
   padding: 10px 15px;
   border: none;
   background-color: rgb(253, 231, 185);
   width: 400px;
   font-size: 18px;
   font-family: inherit;
   border-radius: 20px;
   margin-bottom: 50px;
}
input:focus {
   outline: none;
   background-color: rgb(250, 242, 226);
}

.line {
   border: 1px solid rgb(253, 231, 185);
   padding: 10px 15px;
   margin-bottom: 15px;
   display: flex;
   width: 400px;
}
.line > div:first-child {
   margin-right: 15px;
}

.line:hover {
   background-color: rgb(250, 242, 226);
   cursor: pointer;
}
.line > div:last-child {
   margin-left: auto;
   display: none;
}
.line:hover > div:last-child {
   display: inherit;
   font-weight: 500;
}
.line > div:last-child:active {
   display: none;
}
.nothing {
   text-align: center;
   font-size: 18px;
   font-weight: 500;
}

footer {
   margin: 50px 0;
}
footer > div {
   font-size: 12px;
   font-weight: 300;
   color: #777777;
   text-align: center;
}
footer strong {
   font-weight: 500;
}
footer a {
   font-weight: 500;
   color: #777777;
   text-decoration: none;
}
footer a:hover {
   text-decoration: underline;
}
